
h1
{
	color:cyan;
	font-size: 40px;
}
.body_backgorund {
	background-image: url("bg1.jpg");
	background-position: centre;
	background-size: cover;
}

#myCanvas{
border-width: 10px;
border-style: ridge;
background-color: blueviolet;
}
